.choise {
  max-width: 1440px;
  background: #eff6f1;
  padding: 140px 0;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  &_card {
    flex-grow: 1;
    position: relative;
  }
  &_btn {
    width: 312px;
    height: 95px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    cursor: pointer;
    background-color: $bg_color;
    transition: all 1s ease;
    &:hover {
      background-color: $color_hover;
    }
    &--first {
      width: 281px;
    }
  }
}
