.product_card {
  max-width: 447px;
  max-height: 590px;
  border-radius: 30px;
  background-color: #f9f8f8;
  padding: 30px 30px 33px 30px;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
}
.card_name {
  display: block;
  width: 118px;
  height: 37px;
  background-color: $color_title;
  color: $bg_color;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  line-height: 37px;
  letter-spacing: 0.36px;
  text-align: center;
  cursor: pointer;
}
.product_name {
  font-family: $roboto;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0.36px;
  padding: 17px 0 15px 0;
  color: $color_title;
}
.product_price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 9px;
  gap: 10px;
  border-top: 1px solid #d4d4d4;
}
.old_price {
  font-size: 17px;
  line-height: 33px;
  letter-spacing: 0.36px;
  color: #b8b8b8;
  text-decoration: line-through;
  margin: 0 8px 0 5px;
}
.new_price {
  font-size: 18px;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  color: $color_title;
}
