$bg_color: #fff;
$color: #525c60;
$color_title: #274c5b;
$color_yellow: #7eb693;
$color_hover: #2eaee0;
$color_btn--yellow: #efd372;
$color_bg_arrow: #335b6b;
$openSans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$yellow: "Yellowtail", cursive;
